*{
  /* border:1px solid red; */
  /* box-sizing: border-box; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Montserrat', sansSerif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media(min-width:768px){

  img{
    transition: transform 4s;
  }
  img:hover{
    transform: scale(1.05);
  }
}
@media(max-width:576px){
  .logo img{
    height: 2.7em;
  }
}
#hamburger{
  display: none;
}
#menubar{
  font-size: smaller;
  display: flex;
}
.navbar-icons img{
margin-left: 15px;
}
.nav-links a{
  color:#000;
  text-decoration: none;
  font-weight: bold;
  /* font-size: smaller; */
}
@media(min-width:768px){
#menubar{
  width: auto !important;
}}
@media(max-width:767px){
  #hamburger{
    display: inline-block;
    position: absolute;
    top:25px;
    left: 30px;
    z-index: 999;
  }
  .cart-icon{
    position: absolute;
    top:25px;
    right: 30px;
    
  }
  #menubar{
    display: flex;
    flex-direction: column !important;
    position: absolute;
    /* top: 64px; */
    top:0;
    background: #fff;
    box-shadow: 1px 0px 2px 0px #616161;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    left: 0;
    width: 0;
    overflow: hidden;
    z-index: 19;
    transition: width 0.5s;
  }
}
/* @media(max-width:600px){
  #menubar{
  
    top: 56px;
  
  }
} */


.hover-underline-animation {
  display: inline-block;
  position: relative;
  /* color: #0087ca; */
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn{
  /* padding: 10px 30px; */
  width: 180px;
  height: 52px;
  display: flex;
    justify-content: center;
    align-items: center;
}


.btn-white{
  color:#000;
  background-color: #fff;
  transition: all 0.5s;
}
.btn-black{
  color:#fff;
  background-color: #111010;
  transition: all 0.5s;
}

.btn-white a{
  text-decoration: none;
  color:#000;
  font-weight: bold;
  transition: all 0.5s;
}
.btn-black a{
  text-decoration: none;
  color:#fff;
  font-weight: bold;
  transition: all 0.5s;
}

.btn-white:hover {
  background-color: #ddd;
}
.btn-white:hover a{
  /* color:#fff; */
  transform: scale(1.1);
}
.btn-black:hover {
  background-color: #333;
}
.btn-black:hover a{
  /* color:#000; */
  transform: scale(1.1);
}

.rectangle-img {
 
    width: 100%;
    background-image: url('../public/images/home_bg.png');
    position: relative;
  display: flex;
  align-items: center;
    height: 340px;
    background-size: cover;

}
.rectangle-img .card{

  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.36);
  /* opacity: 0.36; */
  position: absolute;
  color:#fff;
  width: 38%;
  height: 80%;
  right: 128px;
  min-width: 450px;
}

.rectangle-img .card .card-text{
  color: #ECECEC;
  font-size: smaller;

}

@media(max-width:1200px){
  .rectangle-img {
    background-position: -40px;}
  .rectangle-img .card{
    right: 50px;
  }
}

@media(max-width:992px){
  .rectangle-img {
    background-position: -100px;}
  .rectangle-img .card{
    right: 30px;
  }
}
@media(max-width:920px){
  .rectangle-img {
   background-position: -140px;
    display: flex;
    justify-content: center;
    margin-bottom: 350px;

  }
.rectangle-img .card{
  background-color: rgba(0,0,0, 0.56);

  min-width: 300px; 
  position: relative;
  right: auto;
  top:70%;  
  width: 80%;
  height: auto;
 

}
.rectangle-img .card .card-title{
  white-space: break-spaces !important;

}

}


/* products section 1 */

.section{
  margin-top: 100px;
}
.products-section{
  margin-top: 50px;
}
.section .section-heading{
  display: flex;
  justify-content: center;
}
.section-heading-text{
  color: #616161;
  text-align: center;
  font-size: smaller;
  /* padding:20px 150px; */
}
.hr{
  display: flex;
  justify-content: center;
}
hr:not([size]){
  
    height: 5px;
    color: #111;
    width: 131px;
    /* display: inline-block; */
    justify-content: center;

}

.product-section-1{
  display: flex;
  justify-content: space-between;
}
.product-section-1>div{
  height: 420px;
  width: auto;
}
.product-section-1>div>img{
  height: 100%;
  width: 100%;
}
.product-section-1-sub{
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-section-1-sub>div{
  height: 200px;
}
.product-section-1-sub>div>img{
  height: 100%;
  width: 100%;
}

.product-picture-caption{
    background-color: #111010;
    transform: translateY(-55px);
    margin:0 10px;
    color: #fff;
    padding:15px 10px;
    text-align: center;
    border: 1px solid #FFFFFF;
}
.product-picture-caption .caption-text{
font-size: smaller;
color: #b4b4b4;
}









.product-section-2,.product-section-3{
  margin-top: 100px;
  position: relative;
}
.product-section-2 img{
  width: 90%;
  float: right;
}
.product-section-2{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-section-2 .card{
  position: absolute;
  background-color: #F7F7F7;
  width: 50%;
  height: 70%;
  left:0;
}
.product-section-2 .card .card-text{
  color: #616161;
  font-size: smaller;

}

@media(max-width:1200px){
  .product-section-2 .card{
    width: 60%;
    height: 80%;
  }
  .product-section-2 .card .card-text{
    font-size: 15px;
  }
}
@media(max-width:992px){
  .product-section-2 .card{
    width: 60%;
    height: 90%;
    
  }
  .product-section-2 .card .card-text{
    font-size: 13px;
  }
}
@media(max-width:768px){
  .product-section-2{
   display: flex;
   flex-direction: column-reverse;

  } 
  .product-section-2 img{
    width: auto;
    float: unset;
  }
 .product-section-2 .card{
    position: unset;
   margin-bottom: -60px;
    width: 80%;
    height: auto;
    left:auto;
    z-index: 2  ;
    /* transform: translateY(-90%); */
  }

}









.product-section-3 img{
  max-width:100% ;
  max-height:100% ;
}

.product-section-3 .text{
  color: #616161;
  font-size: smaller;
}

.projects-image-container .project-image{
  /* width:300px */
}
.projects-image-container .image-card{
  /* width:24%; */
}
/* .collection-card{
  height: 445px;
  width: 300px;
  box-shadow: 0px 1px 2px 0px 0.4 black;
} */
/* .collection-card .tile-image{
  width:100%;
} */


.showroom-container .card{
  /* position: absolute; */
  background-color: #F7F7F7;
  /* width: 110%; */
  
  /* left:0;   */
  height: 80%; 
  transform: translateX(-100px);
}
.showroom-container .card .card-text{
  color: #616161;
  font-size: smaller;

}
@media(max-width:767px){
  .showroom-container .card{
   
    transform: translate(0px,90px);
    
  }
}


.carousel-inner .carousel-item img{
  max-height: 500px;
}
.footer .copyright-text{
  font-size: 13px;
}
@media(max-width:768px){
.footer-bottom-content{
position: absolute;
bottom: 30px;
left: 0;
right:0;
}
.footer{
  padding-bottom: 120px !important;
 
}
.footer-product-heading:hover+.footer-product-content{
  display: block !important;
}
.footer-service-heading:hover+.footer-service-content{
  display: block !important;
}
.footer-contact-heading:hover+.footer-contact-content{
  display: block !important;
}
}